# Welcome to Project: Salary!
(insert introduction here)

## Pre-lab survey
(insert if we're still doing this)

## Group
Edit the next Python cell to add information about who you're working with in your lab section. You'll be collaborating closely with your group, so try to get to know them a bit!

In [2]:
#First, write down the name of your TAs and CAs
ta_name = " "
ca1_name = " "
ca2_name = " "
ca3_name = " "

# Also, find out some information about your group members: their name, what major they're in,
# and learn something new about them that you never knew before!
partner1_name = " "
partner1_netid = " "
partner1_major = " "

partner2_name = " "
partner2_netid = " "
partner2_major = " "

partner3_name = ""
partner3_netid = ""
partner3_major = ""

# Part 1: Exploring the datasets
We're dealing with some pretty interesting data in this project, so let's get familiar with it. In this section, you will explore the salary dataset in some puzzles to help you get used the type of analysis you'll do on your own later.

## Installing MatPlotLib

A key part of data communication is making visualizations –– but to do that, we need to make sure `matplotlib` is installed. 

Pull up your terminal and run the following code:

WINDOWS USERS:

`py -m pip  install matplotlib`

MacOS USERS: 

`python3 -m pip install matplotlib`

## Importing the Data
And, obviously, we'll have to import the data before using it. In the same directory as this notebook, find the dataset called `graybook.csv`. You know what to do to import pandas and matplotlib and read in the data!

Go ahead and display the dataframe, too. Look at the variable names, the number of rows and columns, and anything else you may notice!

In [3]:
#import pandas, matplotlib, and the dataset below

gb = ...

In [4]:
#DELETE THIS CELL: FOR MY OWN PURPOSES ONLY
import pandas as pd
gb = pd.read_csv("graybook-t.csv")
gb

,Employee Name,Academic Title,Primary Job Title,Primary College,Primary Department,Salary,PrevFTE,FTE,All Titles,Empl Class,PrevSalary
0,"Edakara, Manu I",NaN,ASSOC DIR ENTREPRNRL CMTY,Business,Academy Entrepreneurial Ldrshp,66300.00,1.0,1.0,['ASSOC DIR ENTREPRNRL CMTY'],['BA'],65000.00
1,"Quarton, John Edward",NaN,SR DIR INNOVA ENTRPRNRL PRGM,Business,Academy Entrepreneurial Ldrshp,150480.70,1.0,1.0,['SR DIR INNOVA ENTRPRNRL PRGM' 'DIR HOEFT T&M...,['BA'],147530.00
2,"Werpetinski, Valeri A",NaN,"VST ASSOC DIR, ENTRPRNRL EDUC",Business,Academy Entrepreneurial Ldrshp,71400.00,1.0,1.0,"['VST ASSOC DIR, ENTRPRNRL EDUC']",['BA'],70000.00
3,"Abdel-Khalik, Ahmed Rashad",PROF,PROF,Business,Accountancy,318007.00,1.0,1.0,['DIR CIERA' 'PROF' 'V K ZIMMERMAN PROF'],['BC' 'AA'],312556.00
4,"Ahmed, Waqar",LECTURER,LECTURER,Business,Accountancy,96691.00,1.0,1.0,['LECTURER'],['AA'],96691.00
...,...,...,...,...,...,...,...,...,...,...,...
3550,"Wolfson, Ouri",PROF,???,???,???,200456.78,0.0,0.0,['PROF'],['AA'],200456.78
3551,"Wu, Maryalice S",ADJ ASST PROF,???,???,???,81962.71,0.0,0.0,['ADJ ASST PROF'],['AA'],80355.60
3552,"Yau, Peter M",RES ASST PROF,???,???,???,131447.50,0.0,0.0,['RES ASST PROF'],['AL'],128617.91
3553,"Yodh, Jaya G",RES ASST PROF,???,???,???,112200.00,0.0,0.0,['RES ASST PROF'],['AL'],110000.00
3554,"Zerai, Assata",PROF,???,???,???,187530.00,0.0,0.0,['PROF'],['AA'],184441.29

## Puzzle 1: Exploratory Data Analysis (EDA)
EDA is one of the best ways to familiarize yourself with a dataset. That's why data scientists always start with this step. Think about what this data can tell you and what variables are incldued.

### Puzzle 1.1: Salary Guess
Before we do any calculations, make a guess: what do you think the average salary is at UIUC? Enter your answer below.

❓ **Individual Reflection Question** ❓

Guess for overall average salary: ***Double click this cell to type your guess here.***

### Puzzle 1.2: Descriptive Statistics
Next, using all of the data, find the following information:
1. the number of employees at UIUC
2. the mean salary
3. the median salary
4. the standard deviation of the salaries

In [5]:
#number of employees
university_num_emp = ...
university_num_emp

Ellipsis

In [6]:
#mean salary
university_mean_sal = ...
university_mean_sal

Ellipsis

In [7]:
#median salary
university_median_sal = ...
university_median_sal = ...

In [8]:
#standard deviation
university_std_sal = ...
university_std_sal

Ellipsis

### Puzzle 1.3: What caused these results?

**❓ Individual Reflection ❓** Write a few sentences answering the following questions: Is the mean or median larger? Why do you think this might be the case? What does the standard deviation tell you in this context?

***Double click this cell to type your response to the individual reflection question here.***

In [9]:
## == TEST CASES for Puzzle 1.2 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs with a message (with the emoji showing), you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
x = university_num_emp + university_mean_sal + university_median_sal + university_std_sal
y = ((university_mean_sal - university_median_sal) * university_std_sal) / university_num_emp

assert( abs(x - 246964.21165107167) < 1 ), "It looks like your calculations are off?"
assert( abs(y - 221601.415478511) < 1 ), "It looks like your calculations are off?"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

TypeError: unsupported operand type(s) for +: 'ellipsis' and 'ellipsis'

### Puzzle 1.4: Highest Paid Employees
Find the 10 highest paid employees at the University of Illinois. Store the results in df_high.

In [ ]:
#top 10 salaries

gb_high = ...
gb_high

Ellipsis

In [ ]:
## == TEST CASES for Puzzle 1.4 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs with a message (with the emoji showing), you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.

df_test = gb_high.reset_index()
assert(len(df_test) == 10), "It looks like you have the wrong number of rows!"
assert(df_test.at[0, "Employee Name"] == "Jones, Robert J"), "It looks like the data you selected is incorrect!"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

AttributeError: 'ellipsis' object has no attribute 'reset_index'

### Puzzle 1.4: What type of employee gets paid the most?
❓ **Individual Reflection Question** ❓ Take a look at the top 10 salaries displayed in df_high. What position seems to be common at the top? Did the highest paid employee surprise you? You can expand df_high for a more complete picture if you need to.

***Double click this cell to type your response to the individual reflection question here.***

### Visual displays of data –– A key part of EDA!
Now, we are a bit more familiar with the dataset and have some summary statistics down. Looking at these overal lnumbers helps us summarize all the observations in a column rather than having to scroll through all of the observations, which is certainly helpful. However, descriptive statistics along don't tell the whole story.

In lecture, we will see Anscombe's Quartet, which is a set of 4 datasets with the exact same descriptive statitics. The catch? The datasets look wildly different from each other when their data is actually graphed. This demonstrates that visual displays of data are also a necessary part of EDA. So let's apply this to the graybook!

### Puzzle 1.5: Histograms
Let's start by looking at one of the most simple, yet powerful visual displays of data: a histogram. Histograms are used to show the overall shape of the data and the frequency of specific values or value ranges. Create a frequency histogram of the salaries at UIUC.

In [ ]:
# Create your histogram here!

### Puzzle 1.6: Boxplots
Next, let's look at another simple, yet powerful visualization: a boxplot! Create a boxplot of the overall salary data at UIUC.

In [ ]:
# Create your boxplot here!

### Puzzle 1.7: Why use visualizations?
❓ **Individual Reflection Question** ❓ Explain why it is valuable to look at visual displays of salary data in additon to descriptive statistics like the mean, media, and SD. Write at least three sentences, and share your response with your group members!

***Double click this cell to type your response to the individual reflection question here.***

## Puzzle 2: Department-Level Data
One of the most interesting properties of the salary dataset is that each professor's department is specified. With some data science skills, we can calculate descriptive statistics and look at visual displays of data for each department –– and potentially uncover any salary discrepancies between them.

### Puzzle 2.1: Creating department groups
There was a certain function you learned that will help you **group** all of the people in each department and find departmental aggregates, like the mean. In other words, you want to group by `Primary Department`.

Next, instead of just grouping by a single aggregate, use **Python list syntax** to aggregate by `count`, `mean`, and `median` to find the mean and median salary, as well as the count for how many people are in each department. This way, everything will be displayed in the same dataframe. 

*For help, you can view technical docs here:
https://pandas.pydata.org/pandas-docs/stable/reference/groupby.html)*

Sort the salary dataframe into departments and aggregate according to the listed functions. Store the result in a new dataframe called `gb_group`.

In [ ]:
#create your new dataframe here!

gb_group = ...

#Since we only care about two columns here –– primary department and
#salary –– modify gb_group by selecting only those columns.

gb_group = ...

#Finally, to make sure everything works, display 5 random rows:

In [ ]:
## == TEST CASES for Puzzle 2.1 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs with a message (with the emoji showing), you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert( len(agg_df) == 140 ), "You should have 140 different departments.  Check to make sure you grouped the data?"
assert( "Salary" in agg_df ), "You must have a salary output"
assert( "mean" in agg_df["Salary"] ), "Make sure you have a mean in your salary"
assert( "count" in agg_df["Salary"] ), "Make sure you have a count in your salary"
assert( "median" in agg_df["Salary"] ), "Make sure you have a median in your salary"
assert( len(agg_df.columns) == 4 ), "Make sure you have ONLY the salary data and the department"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

### Puzzle 2.2: Bar Chart

Next, we're going to create a bar chart that displays the average salary for each department. However, because of the nature of the data, there are a few things to be careful of:
- Since there are 140 different departments in the dataset, the default size will look very cramped. Use parameters to alter the `figsize` of the bar chart and make the graph cleaner.
- You will also have to specify the columns you want for your x and y axes.
    - However, since we aggregated the dataframe, the `mean` column is a sub-column under `salary` so it's a bit harder to access.   We'll have to use a special selection method called **MultiIndexing**. The format to access a sub-column is the following:
        - `[('bigColumn', 'subColumn')]`
    - Keep this format in mind –– it allows you to explore a lot more with grouped dataframes!

*For help with this visualization, the documentation for bar charts in pandas is linked here: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.boxplot.html*

*And a post on MultiIndexing: https://stackoverflow.com/questions/64199119/how-to-access-subcolumns-of-pandas-dataframe-and-plot-them-in-python*

In [ ]:
#Create your bar chart here!

### Puzzle 2.3: Interpreting the Box Plot
❓ **Individual Reflection Question** ❓ Now that you've made a readable box plot, what does it show you? Write a sentence or two about a discovery you made with this visualization.

***Double click this cell to type your response to the individual reflection question here.***

### Puzzle 2.4: It's getting personal
Make a dataframe containing all the employees of your home department and create a histogram of their salaries. In other words, if your major is Journalism, you should have a histogram of all the salaries in the Journalism Department. Then, find the maximum and minimum salary in your home department. If your major is undecided, pick a department you are interested in.

Keep this new dataframe in mind, because it will be used later in the project!

In [ ]:
# histogram of your home department

In [ ]:
# find the max and min salary in your home department
max_salary = ...
print(max_salary)

min_salary = ...
print(min_salary)

Ellipsis
Ellipsis

### Puzzle 2.5: Group Discussion
❓ **Individual Reflection Question** ❓ Share the resuls with the people at your table. Do you notice any similarities or differences between departments? 
Below, write down something you learned from your group discussion.

***Double click this cell to type your response to the individual reflection question here.***

# Part 2: Salaries and Society
Data can often reveal systemic problems or discrimination. For example, in many companies, men and women are promoted at different rates –– or, akin to the topic of this lab, are paid different salaries. 

## Puzzle 3: Gender in STEM

Let’s look at a subset of the salary dataset to investigate whether or not there is a difference in salaries between faculty who identify as men and women in two departments. We have salary data for the STAT and CS departments (Karle and Wade’s home departments) and have compiled it in a dataset called `statcssalaries.csv`. This data is also located in the same directory as this lab!

### Puzzle 3.1: Loading the new dataset
Load the second dataset, `statcssalaries.csv,` into a dataframe called sc. Take a look at its qualities. How is the data –– specifically the columns included –– different from the first salary dataset?

In [ ]:
#load dataset here
sc = ...
sc

In [11]:
#DELETE THIS CELL - FOR MY OWN PURPOSES ONLY 
sc = pd.read_csv("statcssalaries-t.csv")
sc

,Employee Name,Academic Title,Primary Job Title,Primary College,Primary Department,Salary,Gender
0,"Abdelzaher, Tarek",PROF,PROF,Engineering,Computer Science,164851.00,M
1,"Adve, Sarita V",PROF,PROF,Engineering,Computer Science,180490.00,F
2,"Adve, Vikram Sadanand",PROF,PROF,Engineering,Computer Science,186454.00,M
3,"Agha, Gul A",PROF,PROF,Engineering,Computer Science,181124.38,M
4,"Alawini, Abdussalam Alhadi M",TEACHING ASST PROF,TEACHING ASST PROF,Engineering,Computer Science,90000.00,M
...,...,...,...,...,...,...,...
128,"Stepanov, Alexey G",SR LECTURER,SR LECTURER,Liberal Arts & Sciences,Statistics,81001.00,M
129,"Unger, David",SR INSTRUCTOR,SR INSTRUCTOR,Liberal Arts & Sciences,Statistics,87582.80,M
130,"Yang, Yun",ASST PROF,ASST PROF,Liberal Arts & Sciences,Statistics,102000.00,M
131,"Zhao, Sihai Dave",ASST PROF,ASST PROF,Liberal Arts & Sciences,Statistics,93219.09,M
132,"Zhu, Ruoqing",ASST PROF,ASST PROF,Liberal Arts & Sciences,Statistics,94849.60,M

### Puzzle 3.2: Gender breakdown
Hopefully, you noticed something interesting about this dataset: the far right column specifies the gender of each employee! Let's do some analysis with this new information.

Create two new datasets: one for all male stats and cs employees, and one for all female stats and cs employees. Next, create two box plots of the male and female salaries.

In [ ]:
#Create your two smaller dataframes here
scm = ...
scf = ...

In [ ]:
#Box plot for male employees

In [ ]:
#Box plot for female employees

### Puzzle 3.3: Interpreting the plots
❓ **Individual Reflection Question** ❓ Based on the above plots, what can you conclude about the salary data for males and females employed by Statistics and Computer Science? What do you think is the average salary for each?

***Double click this cell to type your response to the individual reflection question here.***

### Puzzle 3.4: Calculating Salary Discrepancies
***Part 1*** 

In the cell below, calculate the overall mean, median, and standard deviation for the male and female salaries.

In [17]:
# male calculations
mean_salary_m = ...
print("male average: " + str(mean_salary_m))

median_salary_m = ...
print("male median: " + str(median_salary_m))

sd_salary_m = ...
print("male sd: " + str(sd_salary_m))

male average: Ellipsis
male median: Ellipsis
male sd: Ellipsis

In [ ]:
# female calculations
mean_salary_f = ...
print("female average: " + str(mean_salary_f))

median_salary_f = ...
print("female median: " + str(median_salary_f))

sd_salary_f = ...
print("femmale sd: " + str(sd_salary_f))

***Part 2***

Next, calculate the difference in male and female employees' average salaries.

In [18]:
#calculate difference here
avg_diff = ...
avg_diff

Ellipsis

In [19]:
## == TEST CASES for Puzzle 3.4 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs with a message (with the emoji showing), you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.

        #Someone help me write this because I have no idea how

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

🎉 All tests passed! 🎉

### Puzzle 3.5: Assessing your suspicions

❓ **Individual Reflection Question** ❓ Were your conjectures about the box plots confirmed or denied by the calculations in the last puzzle? Write a sentence or two.

***Double click this cell to type your response to the individual reflection question here.***

## Homework

At this point, you should be wrapping up Day 1 of the project. You and your group should be fluent with salary data and have a solid idea about how this data can relate to social justice.

You have a few tasks for homework before the next lab section. These tasks will help you prepare for the last leg of the salary journey!

### Task 1
Finish any of the puzzles from parts 1 and 2 that you didn't get around to during your lab section. If you need help, remember, office hours are open nearly every day!

### Task 2

Recall the second dataframe we worked with, `statsandcssalaries.csv`. It was cleaner and included more information than the original salary dataframe. 

Cleaning up data is a sometimes tedious but always essential part of data science. Without it, calculations and predictions could be incorrect and visualizations could be incomplete. Let's get some practice with it!

Remember the dataframe you created in **Puzzle 2.4** containing only employees from your home department? We want it to look more like the `statsandcssalaries.csv`, complete with gender information. Modify the dataframe so it meets the following requirements: 
- there should be a new column specifying the gender of each employee, indicated by `M` or `F`.
- if any employees have missing positions, fill those in.
    - Use the following notation to replace a single value:
    
        `df["column name"][index number] = "new value"`
    - We recommend resetting the index of your department dataframe so it's easier to see which row is which.

If you don't know the gender or the position of the professor, do some research on the internet!

In [20]:
#Modify your dataframe, using as many cells as you need.

### Task 3
Begin planning for part 3 of the project. Read through the instructions, select some interesting datasets, and start brainstorming questions and how you might answer them through data science!

***Double click to add notes from your planning here. You must demonstrate that you have created a framework for your Day 2 analysis.***

# Part 3: Make a Change
Now, you're prepared to dive into your own analysis of salary data. You can use both dataframes from the earlier puzzles, your edited department dataframe, any of the dataframes linked below, or any combination in your analysis. The question that should guide your work is:

### **What, if anything, should be changed about the salaries of University of Illinois employees?**

This can be about anything you want. Here's some example questions to get the gears turning. Feel free to use one of these or formulate your own question!
- How does UIUC compare to other BIG 10 schools in terms of what they pay their faculty?
- Are there salary disparities if we stratify based on ethnicity?
- How has this data changed over time?
- Are differences in salaries justified based on required experience or amount of work?
- Do certain departments have an unfair edge against the others?

In your analysis, include descriptive statistics, calculations, comparisons, visualizations –– whatever will give us a complete picture of your question and how you answered it. Use as many python cells as you need! Include comments and markdown cells to give short explanations as you go. The puzzles and homework from earlier in the project are good inspiration for formatting your analysis.

After you complete your analysis, you will create a short proposal for what you believe should change and why. Good luck, and may the force –– I mean, data –– be with you!

### Useful Datasets

Graybooks for other BIG 10 Universities 
- iowa.csv
- wisconsin.csv

UIUC Graybooks from previous years
- 2020.csv
- 2010.csv 


***(do we have access to these? let me know if this is possible)***

In [ ]:
#put your analysis here!

In [ ]:
#and here

In [ ]:
#and here

# Your Proposal

Data science is cool, but it won't make a difference unless we tell people about it. 

Next week, you will present your proposed salary changes to the University of Illinois System **Board of Trustees** at an official meeitng. (Not really. But just pretend like you are.) It's a little nerve-wracking, but don't worry –– you have data to back up your argument. 

Create a short proposal highlighting the issue you addressed and how to solve it. Back up your argument with the calculations, visualizations, and any other information you discovered during your analysis.

Some possible formats for the proposal include:
- a letter to the board (if you choose this, format it like an actual letter!)
- a video recording of a speech
- a presentation with voice over (google slides, powerpoint)

In written form, you should have at least one page of text and visualizations. However, your visualizations shouldn't take up more space than necessary. If you do a speech or a presentation, it should be around 2-3 minutes.

### Turning in your proposal

(insert instructions here)

# Post-lab survey 
(insert if we're doing it)

# el fin. 
This concludes Project: Salary. Thank you for embarking on this journey with us!