In [2]:
import pandas as pd
df = pd.read_csv("firewall-project.csv")

In [3]:
df = df[["CommitteeName", "ContributedBy", "RcvdDate", "Amount", "Address1", "Address2", "City", "State", "Zip"]]
df

,CommitteeName,ContributedBy,RcvdDate,Amount,Address1,Address2,City,State,Zip
0,The Firewall Project,"Alarm Detection Systems, Inc",9/26/2022,25000,1111 Church Rd,NaN,Aurora,IL,60505
1,The Firewall Project,"Aldridge, Kenneth",10/31/2022,10000,844 E Rockland Rd,NaN,Libertyville,IL,60048
2,The Firewall Project,"Alfirevich, John",11/2/2022,1000,8588 W 159th St,NaN,Orland Park,IL,60462
3,The Firewall Project,"Allen, Charles",10/26/2022,2000,156 Woodstock Ave,NaN,Kenilworth,IL,60043
4,The Firewall Project,"Auriemma, William",11/6/2022,2500,706 forest glen lane,NaN,oak brook,IL,60533
...,...,...,...,...,...,...,...,...,...
58,The Firewall Project,"Tracy, Don",10/26/2022,5000,1429 E Lake Shore Drive,NaN,Springfield,IL,62712
59,The Firewall Project,"Van Klompenberg, Brian",11/2/2022,1000,511 Ridge Rd,NaN,Kenilworth,IL,60043
60,The Firewall Project,"Warren, Victor",11/4/2022,500,404 Bridgeway Ct,NaN,Oak Brook,IL,60523
61,The Firewall Project,"Wegner, Ken",9/30/2022,25000,268 Cottage Hill Avenue,NaN,Elmhurst,IL,60126
62,The Firewall Project,"WOODS, GEORGE",10/26/2022,5000,480 W Seminary Ave,NaN,Wheaton,IL,60187

In [4]:
df["Amount"].sum()

1386550

In [5]:
df["Year"] = pd.DatetimeIndex(data = df["RcvdDate"]).year
#df["Amount received month"] = pd.DatetimeIndex(data = df["Amount Received Date"]).month
#df["Amount received day"] = pd.DatetimeIndex(data = df["Amount Received Date"]).day
#df["Report received year"] = pd.DatetimeIndex(data = df["Report Received Date"]).year
#df["Report received month"] = pd.DatetimeIndex(data = df["Report Received Date"]).month
#df["Report received day"] = pd.DatetimeIndex(data = df["Report Received Date"]).day
df["Year"].unique()

array([2022])

In [6]:
df["State"].unique()

array(['IL', 'FL'], dtype=object)

In [7]:
df[df["State"] == "FL"]

,CommitteeName,ContributedBy,RcvdDate,Amount,Address1,Address2,City,State,Zip,Year
28,The Firewall Project,"Grohne, David",10/31/2022,25000,5750 Midnight Pass Rd,"Bldg E, Unit 310",Sarasota,FL,34242,2022
52,The Firewall Project,"Skinner, Samuel",11/4/2022,1000,831 Harborshore Drive,NaN,Boca Grande,FL,33921,2022
56,The Firewall Project,"Tepas, Gary",10/11/2022,5000,1119 Dormie Dr,NaN,Naples,FL,34108,2022